beautifulsoup4==4.13.5
fastapi==0.116.2
firebase_admin==7.1.0
google_api_python_client==2.181.0
google_auth_oauthlib==1.2.2
pandas==2.3.2
protobuf==6.32.1
pydantic==2.11.9
python-dotenv==1.1.1
Requests==2.32.5
uvicorn
google-genai
